<?xml version="1.0"?>
<launch>
  <arg name="map_file" default="map_medium0.yaml"/>

  <include file="$(find flightgoggles)/launch/core.launch">
  </include>

  <include file="$(find visualizer)/launch/view.launch">
  </include>

  <include file="$(find flightcontroller)/launch/angle.launch">
  </include>

  <include file="$(find flightcontroller)/launch/velocity.launch">
  </include>

  <include file="$(find flightcontroller)/launch/position.launch">
  </include>

  <node name="path_planner" pkg="simple_control" type="path_planner.py" output="screen" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(find flightcontroller)/maps/$(arg map_file)" />

  <node name="tower" pkg="flightcontroller" type="tower.py" />

  <node name="tower_to_map" pkg="simple_control" type="tower_to_map.py" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="tower_broadcaster" args="-128.5751 77.2557 0 0.5236 0 0 tower world"/>
  <!-- args="x y z yaw pitch roll frame_id child_frame_id" -->

</launch>